ch06/.env

ch07/ex05/node_modules/
ch07/ex05/config/

ch08/ex05/node_modules/
ch08/ex05/.env

ch09/nodebird/node_modules/
ch09/nodebird/.env
ch09/nodebird/config
ch09/nodebird/uploads

ch09/nodebird2/node_modules/
ch09/nodebird2/.env
ch09/nodebird2/config
ch09/nodebird2/uploads

ch10/nodebird-api/node_modules/
ch10/nodebird-api/.env
ch10/nodebird-api/config/
ch10/nodecat/config
ch10/nodecat/node_modules/
ch10/nodecat/.env

ch11/nodebird/node_modules/
ch11/nodebird/.env
ch11/nodebird/config
ch11/nodebird/uploads